streamlit
sentence-transformers
chromadb==0.4.24
zhipuai
python-dotenv
pypdf
PyPDF2
python-docx
tqdm
langchain-text-splitters
requests
sniffio

numpy==1.26.4          # 保留 np.float_，彻底解决numpy报错
protobuf==4.25.3
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
